{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Your Cart </title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{% static 'cart_CSS/cart.css' %}">
    
</head>
<body>
    <div class="topnav sidebyside">
        <a href="../index/welcome.html" style="background-color:black; color:#54dfd8;">VIVER FOODS</a>
        <a  href="../breakfast/breakfast.html">Food Menu</a>
        <a href="#" class="active">Cart</a>
        <a href="../Help/help.html">Help</a>
        <a href="../signin/signin.html" style="float:right;margin-right:10px;">SignIn</a>
    </div>
    <div class="bground sidebyside">
      <div class="pgname sidebyside">
        <h2>Checkout  <button id="myBtn" class="address">Change Your Address</button></h2>
        
        
        
      </div>
      <div id="myModal" class="modal">

        <!-- Modal content -->
        <div class="modal-content">
          <span class="close">&times;</span>
          <form action="" class="new-address">
            <h3>Change Your Address</h3><br>
            <p>Your Current Address - civil lines near tiwra kothi fatehgarh, 209601</p>
            <h4>Enter new address</h4><br>
            <input type="text" placeholder="Flat, Houuse no.*, landmark">
            <input type="text" placeholder="City">
            <input type="text" placeholder="Pincode"><br><br>
            <button>Change</button>
          </form>
        </div>
      
      </div>
      

      <span class="cart-items sidebyside">
        <div class="items">
          <h4>CART <span class="dist"><i class="fa fa-shopping-cart"></i>&nbsp;4</span></h4>
          <p><a href="#">Product 1</a> <span class="dist">$15</span></p>
          <p><a href="#">Product 2</a> <span class="dist">$5</span></p>
          <p><a href="#">Product 3</a> <span class="dist">$8</span></p>
          <p><a href="#">Product 4</a> <span class="dist">$2</span></p>
          
          
          <hr>
          <p>TOTAL<span class="dist">$30</span>
          </p>

        </div>
      </span>
      <span class="cart-pay sidebyside">
        <div class="items">
          <h4>Payments</h4>
        </div> 
        <div class="sidebyside form">
        <form name="payments" onsubmit="return validate()" >
          <label for="cards">Accepted Cards</label>
          <div class="icon-container">
            <i class="fa fa-cc-visa" style="color:navy;"></i>
            <i class="fa fa-cc-amex" style="color:blue;"></i>
            <i class="fa fa-cc-mastercard" style="color:red;"></i>
            <i class="fa fa-cc-discover" style="color:orange;"></i>
          </div>
          
            <label for="cname">Name on Card</label>
            <input type="text" id="cname" name="cardname" placeholder="Bill Gates"><br><br>
          
            <label for="ccnum">Credit card number</label>
            <input type="text" id="ccnum" name="cardnumber" placeholder="1111-2222-3333-4444"><br><br>
            <label for="expmonth">Exp Month</label>
            <input type="text" id="expmonth" name="expmonth" placeholder="September"><br><br>
            <label for="cvv">CVV</label>
            <input type="text" id="cvv" name="cvv" placeholder="906"><br><br>
            <label for="expyear">Exp year</label>
            <input type="text" id="expyear" name="expyear" placeholder="2022"><br><br><br>
            
            <button type="submit" value="submit" class="pay">
              Pay
            </button>

        </form>     
      </div>  
      </span>


    </div>
    <script>
      // Get the modal
      var modal = document.getElementById("myModal");
      
      // Get the button that opens the modal
      var btn = document.getElementById("myBtn");
      
      // Get the <span> element that closes the modal
      var span = document.getElementsByClassName("close")[0];
      
      // When the user clicks the button, open the modal 
      btn.onclick = function() {
        modal.style.display = "block";
      }
      
      // When the user clicks on <span> (x), close the modal
      span.onclick = function() {
        modal.style.display = "none";
      }
      
      // When the user clicks anywhere outside of the modal, close it
      window.onclick = function(event) {
        if (event.target == modal) {
          modal.style.display = "none";
        }
      }
      </script>
</body>
</html>