{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Order Special Thalis here</title>
    <link rel="stylesheet" href="{% static 'dinner_CSS/dinner.css' %}">
</head>
<body>
    <div class="topnav sidebyside">
        <a href="../index/welcome.html" style="background-color:black; color:#54dfd8;">VIVER FOODS</a>
        <a class="active" href="#">Food Menu</a>
        <a href="../Cart/cart.html">Cart</a>
        <a href="../Help/help.html">Help</a>
        <a href="../signin/signin.html" style="float:right;margin-right:10px;">SignIn</a>
    </div>
    <div class="type sidebyside">
        <h1>Special Thali</h1>
        <div class="sidenav">
          <a href="../breakfast/breakfast.html" >Breakfast</a>
          <a href="../lunch/lunch.html">Lunch</a>
          <a href="../Dinner/dinner.html" >Dinner</a>
          <a href="#" class="active">Special Thali</a>
          <a href="../appetizers/appetizers.html" >Appetizers</a>
          <a href="../desserts/desserts.html" >Desserts</a>

      </div>
    </div>
    
    <div class="offers boxsize sidebyside "> 
        <div class="sametag ">
         <h2> Special Offers</h2>
        </div>
        <div class="food-holder">
            <div class="pic">
               <div class="picture ">
                    <img src="{% static 'images/samosa.jpg' %}"  alt="">
               </div>
               <div class="name ">
                    <h5>Samosa</h5>
               </div>
               <div class="price ">
                <h5 style="text-decoration:line-through; color:grey;">Rs 60</h5>
                <h5 >Rs 40</h5>

               </div>
            </div>
            
            <div class="pic">
                <div class="picture ">
                    <img src="{% static 'images/idly.jpg' %}"  alt="">
               </div>
               <div class="name ">
                    <h5>Idly</h5>
               </div>
               <div class="price ">
                <h5 style="text-decoration:line-through; color:grey;">Rs 160</h5>
                <h5 >Rs 100</h5>

               </div>
            </div>
            <div class="pic">
                <div class="picture ">
                    <img src="{% static 'images/idly.jpg' %}"  alt="">
               </div>
               <div class="name ">
                    <h5>Idly</h5>
               </div>
               <div class="price ">
                <h5 style="text-decoration:line-through; color:grey;">Rs 160</h5>
                <h5 >Rs 100</h5>

               </div>
            </div>
            <div class="pic">
               <div class="picture ">
                    <img src="{% static 'images/idly.jpg' %}"  alt="">
               </div>
               <div class="name ">
                    <h5>Idly</h5>
               </div>
               <div class="price ">
                <h5 style="text-decoration:line-through; color:grey;">Rs 160</h5>
                <h5 >Rs 100</h5>

               </div>
            </div>
            <div class="pic">
                <div class="picture ">
                    <img src="{% static 'images/idly.jpg' %}"  alt="">
               </div>
               <div class="name ">
                    <h5>Idly</h5>
               </div>
               <div class="price ">
                <h5 style="text-decoration:line-through; color:grey;">Rs 160</h5>
                <h5 >Rs 100</h5>

               </div>
            </div>
            <div class="pic">
                <div class="picture ">
                    <img src="{% static 'images/idly.jpg' %}"  alt="">
               </div>
               <div class="name ">
                    <h5>Idly</h5>
               </div>
               <div class="price ">
                <h5 style="text-decoration:line-through; color:grey;">Rs 160</h5>
                <h5 >Rs 100</h5>

               </div>
            </div>
            <div class="pic">
                <div class="picture ">
                    <img src="{% static 'images/idly.jpg'%}"  alt="">
               </div>
               <div class="name ">
                    <h5>Idly</h5>
               </div>
               <div class="price ">
                <h5 style="text-decoration:line-through; color:grey;">Rs 160</h5>
                <h5 >Rs 100</h5>

               </div>
            </div>
            <div class="pic">
                <div class="picture ">
                    <img src="{% static 'images/idly.jpg' %}"  alt="">
               </div>
               <div class="name ">
                    <h5>Idly</h5>
               </div>
               <div class="price ">
                <h5 style="text-decoration:line-through; color:grey;">Rs 160</h5>
                <h5 >Rs 100</h5>

               </div>
            </div>
            <div class="pic">
                <div class="picture ">
                    <img src="{% static 'images/juice.jpg' %}"  alt="">
               </div>
               <div class="name ">
                    <h5>Juice</h5>
               </div>
               <div class="price ">
                <h5 style="text-decoration:line-through; color:grey;">Rs 100</h5>
                <h5 >Rs 80</h5>

               </div>
            </div>
            <div class="pic">
                <div class="picture ">
                    <img src="{% static 'images/breadomlet.jpg' %}"  alt="">
               </div>
               <div class="name ">
                    <h5>Breadomlet</h5>
               </div>
               <div class="price ">
                <h5 style="text-decoration:line-through; color:grey;">Rs 60</h5>
                <h5 >Rs 35</h5>

               </div>
            </div>
            <div class="pic">
                <div class="picture ">
                    <img src="{% static 'images/sandw.jpg' %}"  alt="">
               </div>
               <div class="name ">
                    <h5>Sandwich </h5>
               </div> 
               <div class="price ">
                <h5 style="text-decoration:line-through; color:grey;">Rs 80</h5>
                <h5 >Rs 50</h5>

               </div>
            </div>

        </div>
    </div>
    <div class="boxsize sidebyside sametag"> 
        <div class="sametag">
            <h2>Dinner you liked</h2>
        </div>
        <div class="food-holder">
            <div class="pic">
                <div class="picture ">
                     <img src="{% static 'images/pasta.jpg' %}"  alt="">
                </div>
                <div class="name ">
                     <h5>Pasta</h5>
                </div>
                <div class="price ">
                 <h5 style="text-decoration:line-through; color:grey;">Rs 85</h5>
                 <h5 >Rs 80</h5>
 
                </div>
             </div>
             <div class="pic">
                <div class="picture ">
                     <img src="{% static 'images/samosa.jpg' %}"  alt="">
                </div>
                <div class="name ">
                     <h5>Samosa</h5>
                </div>
                <div class="price ">
                 <h5 style="text-decoration:line-through; color:grey;">Rs 60</h5>
                 <h5 >Rs 40</h5>
 
                </div>
             </div>
             <div class="pic">
                <div class="picture ">
                     <img src="{% static 'images/burger.jpg' %}"  alt="">
                </div>
                <div class="name ">
                     <h5>Burrger</h5>
                </div>
                <div class="price ">
                 <h5 style="text-decoration:line-through; color:grey;">Rs 50</h5>
                 <h5 >Rs 45</h5>
 
                </div>
             </div>
             <div class="pic">
                <div class="picture ">
                     <img src="{% static 'images/burger.jpg' %}"  alt="">
                </div>
                <div class="name ">
                     <h5>Burrger</h5>
                </div>
                <div class="price ">
                 <h5 style="text-decoration:line-through; color:grey;">Rs 50</h5>
                 <h5 >Rs 45</h5>
 
                </div>
             </div>
             <div class="pic">
                <div class="picture ">
                     <img src="{% static 'images/burger.jpg' %}"  alt="">
                </div>
                <div class="name ">
                     <h5>Burrger</h5>
                </div>
                <div class="price ">
                 <h5 style="text-decoration:line-through; color:grey;">Rs 50</h5>
                 <h5 >Rs 45</h5>
 
                </div>
             </div>
             <div class="pic">
                <div class="picture ">
                     <img src="{% static 'images/burger.jpg' %}"  alt="">
                </div>
                <div class="name ">
                     <h5>Burrger</h5>
                </div>
                <div class="price ">
                 <h5 style="text-decoration:line-through; color:grey;">Rs 50</h5>
                 <h5 >Rs 45</h5>
 
                </div>
             </div>
             <div class="pic">
                <div class="picture ">
                     <img src="{% static 'images/ff.jpg' %}"  alt="">
                </div>
                <div class="name ">
                     <h5>F.Fries</h5>
                </div>
                <div class="price ">
                 <h5 style="text-decoration:line-through; color:grey;">Rs 120</h5>
                 <h5 >Rs 110</h5>
 
                </div>
             </div>
             <div class="pic">
                <div class="picture ">
                     <img src="{% static 'images/Vsandwich.jpg' %}"  alt="">
                </div>
                <div class="name ">
                     <h5>Sandwichh</h5>
                </div>
                <div class="price ">
                 <h5 style="text-decoration:line-through; color:grey;">Rs 80</h5>
                 <h5 >Rs 65</h5>
 
                </div>
             </div>

        </div>

    </div>
    <div class="Breakfast fulllist sidebyside sametag"> 
        <div class="sametag">
            <h2>Full List</h2>
        </div>
        <div class="food-holder">
            <div class="pic">
                <div class="picture ">
                    <img src="{% static 'images/petis.png' %}"  alt="">
               </div>
               <div class="name ">
                    <h5>Petis</h5>
               </div> 
               <div class="price ">
                <h5 style="text-decoration:line-through; color:grey;">Rs 60</h5>
                <h5 >Rs 50</h5>

               </div>
            </div>
            <div class="pic">
                <div class="picture ">
                     <img src="{% static 'images/burger.jpg' %}"  alt="">
                </div>
                <div class="name ">
                     <h5>Burrger</h5>
                </div>
                <div class="price ">
                 <h5 style="text-decoration:line-through; color:grey;">Rs 50</h5>
                 <h5 >Rs 45</h5>
 
                </div>
             </div>
             <div class="pic">
                <div class="picture ">
                     <img src="{% static 'images/burger.jpg' %}"  alt="">
                </div>
                <div class="name ">
                     <h5>Burrger</h5>
                </div>
                <div class="price ">
                 <h5 style="text-decoration:line-through; color:grey;">Rs 50</h5>
                 <h5 >Rs 45</h5>
 
                </div>
             </div>
             <div class="pic">
                <div class="picture ">
                     <img src="{% static 'images/burger.jpg' %}"  alt="">
                </div>
                <div class="name ">
                     <h5>Burrger</h5>
                </div>
                <div class="price ">
                 <h5 style="text-decoration:line-through; color:grey;">Rs 50</h5>
                 <h5 >Rs 45</h5>
 
                </div>
             </div>
            <div class="pic">
                <div class="picture ">
                     <img src="{% static 'images/samosa.jpg' %}"  alt="">
                </div>
                <div class="name ">
                     <h5>Samosa</h5>
                </div>
                <div class="price ">
                 <h5 style="text-decoration:line-through; color:grey;">Rs 60</h5>
                 <h5 >Rs 40</h5>
 
                </div>
             </div>
             <div class="pic">
                <div class="picture ">
                     <img src="{% static 'images/pasta.jpg' %}"  alt="">
                </div>
                <div class="name ">
                     <h5>Pasta</h5>
                </div>
                <div class="price ">
                 <h5 style="text-decoration:line-through; color:grey;">Rs 85</h5>
                 <h5 >Rs 80</h5>
 
                </div>
             </div>
             
             <div class="pic">
                <div class="picture ">
                     <img src="{% static 'images/burger.jpg' %}"  alt="">
                </div>
                <div class="name ">
                     <h5>Burrger</h5>
                </div>
                <div class="price ">
                 <h5 style="text-decoration:line-through; color:grey;">Rs 50</h5>
                 <h5 >Rs 45</h5>
 
                </div>
             </div>
             <div class="pic">
                <div class="picture ">
                     <img src="{% static 'images/ff.jpg' %}"  alt="">
                </div>
                <div class="name ">
                     <h5>F.Fries</h5>
                </div>
                <div class="price ">
                 <h5 style="text-decoration:line-through; color:grey;">Rs 120</h5>
                 <h5 >Rs 110</h5>
 
                </div>
             </div>
             <div class="pic">
                <div class="picture ">
                     <img src="{% static 'images/petis.png' %}"  alt="">
                </div>
                <div class="name ">
                     <h5>Sandwich</h5>
                </div>
                <div class="price ">
                 <h5 style="text-decoration:line-through; color:grey;">Rs 80</h5>
                 <h5 >Rs 65</h5>
 
                </div>
             </div>
             <div class="pic">
                 <div class="picture ">
                     <img src="{% static 'images/idly.jpg' %}"  alt="">
                </div>
                <div class="name ">
                     <h5>Idly</h5>
                </div>
                <div class="price ">
                 <h5 style="text-decoration:line-through; color:grey;">Rs 160</h5>
                 <h5 >Rs 100</h5>
 
                </div>
             </div>
             <div class="pic">
                 <div class="picture ">
                     <img src="{% static 'images/juice.jpg' %}"  alt="">
                </div>
                <div class="name ">
                     <h5>Juice</h5>
                </div>
                <div class="price ">
                 <h5 style="text-decoration:line-through; color:grey;">Rs 100</h5>
                 <h5 >Rs 80</h5>
 
                </div>
             </div>
             <div class="pic">
                 <div class="picture ">
                     <img src="{% static 'images/breadomlet.jpg' %}"  alt="">
                </div>
                <div class="name ">
                     <h5>Breadomlet</h5>
                </div>
                <div class="price ">
                 <h5 style="text-decoration:line-through; color:grey;">Rs 60</h5>
                 <h5 >Rs 35</h5>
 
                </div>
             </div>
             <div class="pic">
                 <div class="picture ">
                     <img src="{% static 'images/sandw.jpg' %}"  alt="">
                </div>
                <div class="name ">
                     <h5>Sandwich</h5>
                </div> 
                <div class="price ">
                 <h5 style="text-decoration:line-through; color:grey;">Rs 80</h5>
                 <h5 >Rs 50</h5>
 
                </div>
             </div>
             <div class="pic">
                <div class="picture ">
                    <img src="{% static 'images/sandw.jpg' %}"  alt="">
               </div>
               <div class="name ">
                    <h5>Sandwich</h5>
               </div> 
               <div class="price ">
                <h5 style="text-decoration:line-through; color:grey;">Rs 80</h5>
                <h5 >Rs 50</h5>

               </div>
            </div>
            <div class="pic">
                <div class="picture ">
                    <img src="{% static 'images/sandw.jpg' %}"  alt="">
               </div>
               <div class="name ">
                    <h5>Sandwich</h5>
               </div> 
               <div class="price ">
                <h5 style="text-decoration:line-through; color:grey;">Rs 80</h5>
                <h5 >Rs 50</h5>

               </div>
            </div>
            <div class="pic">
                <div class="picture ">
                    <img src="{% static 'images/sandw.jpg' %}"  alt="">
               </div>
               <div class="name ">
                    <h5>Sandwich</h5>
               </div> 
               <div class="price ">
                <h5 style="text-decoration:line-through; color:grey;">Rs 80</h5>
                <h5 >Rs 50</h5>

               </div>
            </div>

        </div>
    </div>
    
</body>
</html>